In [1]:
import powerplantmatching as pm
import pandas as pd

In [2]:
import pycountry as pc
import pycountry_convert as pcc

In [3]:
country_codes = [country.alpha_2 for country in pc.countries]
african_country_codes = []
for code in country_codes:
    try:
        if pcc.country_alpha2_to_continent_code(code) == 'AF':
            african_country_codes.append(code)
    except:
        pass

african_countries_map = {code: pcc.country_alpha2_to_country_name(code) for code in african_country_codes}

In [18]:
config = pm.get_config('powerplantmatching_config.yaml')
pm.powerplants(config=config, update=True)

INFO:powerplantmatching.collection:Collect combined dataset for CARMA, GEO, GPD
INFO:powerplantmatching.cleaning:Aggregating blocks to entire units in 'CARMA'.
INFO:powerplantmatching.cleaning:Reading saved aggregation groups for dataset 'CARMA'.
INFO:powerplantmatching.cleaning:Aggregating blocks to entire units in 'GEO'.
INFO:powerplantmatching.cleaning:Reading saved aggregation groups for dataset 'GEO'.
INFO:powerplantmatching.cleaning:Aggregating blocks to entire units in 'GPD'.
INFO:powerplantmatching.cleaning:Reading saved aggregation groups for dataset 'GPD'.
INFO:powerplantmatching.matching:Comparing CARMA with GEO
INFO:powerplantmatching.matching:Reading saved matches for dfs CARMA and GEO
INFO:powerplantmatching.matching:Comparing CARMA with GPD
INFO:powerplantmatching.matching:Reading saved matches for dfs CARMA and GPD
INFO:powerplantmatching.matching:Comparing GEO with GPD
WARNING:powerplantmatching.matching:Non-existing saved matches for dataset 'GEO', 'GPD' continuing by matching again
WARNING:powerplantmatching.heuristics:OPSD not existent in the matched date, extending by all data entries.
INFO:powerplantmatching.cleaning:Aggregating blocks to entire units in 'OPSD'.
INFO:powerplantmatching.cleaning:Not using saved aggregation groups for dataset 'OPSD'.
WARNING:powerplantmatching.heuristics:JRC not existent in the matched date, extending by all data entries.
INFO:powerplantmatching.cleaning:Aggregating blocks to entire units in 'JRC'.
INFO:powerplantmatching.cleaning:Not using saved aggregation groups for dataset 'JRC'.
WARNING:powerplantmatching.core:Geoparsing not possible as no google api key was found, please add the key to your config.yaml if you want to enable it.
WARNING:powerplantmatching.heuristics:ENTSOE not existent in the matched date, extending by all data entries.
INFO:powerplantmatching.cleaning:Aggregating blocks to entire units in 'ENTSOE'.
INFO:powerplantmatching.cleaning:Not using saved aggregation groups for dataset 'ENTSOE'.
INFO:powerplantmatching.cleaning:Aggregating blocks to entire units in 'CARMA'.
INFO:powerplantmatching.cleaning:Not using saved aggregation groups for dataset 'CARMA'.
INFO:powerplantmatching.cleaning:Aggregating blocks to entire units in 'GEO'.
INFO:powerplantmatching.cleaning:Not using saved aggregation groups for dataset 'GEO'.

Matched Data,Name,Fueltype,Technology,Set,Country,Capacity,Efficiency,Duration,Volume_Mm3,DamHeight_m,StorageCapacity_MWh,DateIn,DateRetrofit,DateMothball,DateOut,lat,lon,EIC,projectID
0,Adamselv kraftverk norway,Hydro,Reservoir,PP,Norway,49.363057,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,70.411780,26.694910,[nan],"{'GEO': ['GEO45722'], 'GPD': ['WRI1002992'], '..."
1,Saltend,Natural Gas,CCGT,PP,United Kingdom,1092.437580,NaN,0.0,0.0,0.0,0.0,2000.0,2000.0,NaN,NaN,53.734802,-0.243416,[nan],"{'GEO': ['GEO5231'], 'GPD': ['GBR2000263'], 'C..."
2,Ribatejo,Natural Gas,CCGT,PP,Portugal,1070.588828,NaN,0.0,0.0,0.0,0.0,2004.0,2005.0,NaN,NaN,39.011600,-8.951900,[nan],"{'GEO': ['GEO43559'], 'GPD': ['WRI1023228'], '..."
3,Ricobayo,Hydro,Reservoir,PP,Spain,287.292994,NaN,0.0,0.0,0.0,0.0,1929.0,1935.0,NaN,NaN,41.527400,-5.985700,[nan],"{'GEO': ['GEO44134'], 'GPD': ['WRI1007850'], '..."
4,Rodenhuize,Hard Coal,Steam Turbine,PP,Belgium,403.832342,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,51.133700,3.775900,[nan],"{'GEO': ['GEO41956'], 'GPD': ['WRI1002265'], '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8249,Villoevocance,Hydro,NaN,PP,France,0.013923,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,45.226591,4.591035,[nan],{'CARMA': ['CARMA48307']}
8250,Vinon recy,Hydro,NaN,PP,France,0.054821,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,47.285427,2.823910,[nan],{'CARMA': ['CARMA48346']}
8251,Vintrou,Hydro,NaN,PP,France,28.106829,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,43.524281,2.462548,[nan],{'CARMA': ['CARMA48349']}
8252,Violle,Hydro,NaN,PP,France,0.062644,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,45.759159,5.930704,[nan],{'CARMA': ['CARMA23945']}
8253,Hodonin,Lignite,Steam Turbine,CHP,Czech Republic,86.964926,NaN,0.0,0.0,0.0,0.0,1954.0,1992.0,NaN,NaN,48.847400,17.119700,[nan],{'GEO': ['GEO42325']}